/* .App {
  text-align: center;
} */

/* App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-layout {
  display: flex;
  flex: 1;
  padding: 1rem;
  gap: 1rem;
}

.left-panel {
  flex: 1;
  background-color: transparent;
  padding: 1rem;
  border-right: 1px solid #ccc;
}

.right-panel {
  flex: 5;
  padding: 1rem;
  background-color: #fff;
}

.left-panel button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 0.5rem 0;
  text-align: left;
  font-size: 1rem;
}
.left-panel button:hover {
  text-decoration: underline;
}

.profile-pic {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-top: 1rem;
}
